<div class="col-md-6">
  <h2>Add User</h2>
  <form>
    <div class="form-group">
      <label for="firstname">First Name :</label>
      <input type="text" [(ngModel)]="User.firstname" placeholder="firstname" name="firstname"
       class="form-control" id="firstname">
    </div>

    <div class="form-group">
      <label for="lastname">Last Name :</label>
      <input type="text" [(ngModel)]="user.lastname" placeholder="lastname" name="lastname" 
      class="form-control" id="lastname">
    </div>

    <div class="for-group">
      <label for="email">Email Address :</label>
      <input type="email" [(ngModel)]="user.email" placeholder="email" name="email"
      class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="password">Passsword :</label>
      <input type="password" [(ngModel)]="user.password" placeholder="password" name="password"
      class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="title">Title :</label>
      <input type="text" [(ngModel)]="user.title" placeholder="title" name="title"
      class="form-control" id="title">
    </div>

   <button class="btn btn-sucess" (click)="createUser()">Create</button>
  </form>

</div>